:root {
  --dark-blue: hsl(233, 47%, 7%);
  --desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --white-color: hsl(0, 0%, 100%);
  --transparent-white-1: hsla(0, 0%, 100%, 0.75);
  --transparent-white-2: hsla(0, 0%, 100%, 0.6);

  --font-size: 15px;

  --font-1: "Outfit", serif;
  --font-2: "Lexend Deca", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-blue);
  font-size: var(--font-size);
  font-family: var(--font-2);
  height: auto;
}

.container {
  background-color: var(--desaturated-blue);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 1105px;
  height: 450px;
  border-radius: 24px;
}

.info-container {
  padding: 50px;
}
.info-container p {
  width: 370px;
  margin: 20px 0 50px;
  line-height: 1.5;
}
h1 {
  color: var(--white-color);
  font-family: var(--font-1);
}
span {
  color: var(--soft-violet);
}

p {
  color: var(--transparent-white-1);
  font-family: var(--font-2);
}

.info-section {
  display: flex;
}

.info {
  margin-right: 50px;
}
.number {
  color: var(--white-color);
  font-size: 16px;
}
.name {
  color: var(--transparent-white-2);
  text-transform: uppercase;
  font-size: 12px;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 540px;
}

.image-container img {
  width: 100%;
  max-width: 750px;
  border-radius: 0 24px 24px 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--soft-violet);
  opacity: 0.8;
  border-radius: 0 24px 24px 0;
}
